.journal-form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: beige;
}

.form-row {
  display: flex;
  align-items: center;  
}

.form-label {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 150px;
}

.input {
  border: none;
  background: #e6e3e333;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: Source Sans Pro, sans-serif;
  border-bottom: 1px solid #e0baba33;
  width: 100%;
  color: beige;
}

.invalid {
  border: 1px solid red;
  background: rgb(205, 134, 134);
}